* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 10vh;
  background-color: blue;
  color: aliceblue;
}

main {
  width: 100%;
  height: 90vh;
}

header, main.normal {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.recording {
  display: flex;
  justify-content: center;
}

.state {
  font-size: 11px;
  animation: fade infinite 3000ms;
}

#language {
  width: 70px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.45);
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

#start {
  transition: 500ms;
  border: none;
  outline: none;
  border: 1px solid rgba(0,0,0,.45);
  padding: 5px;
  border-radius: 5px;
}

#start:focus {
  transition: 500ms;
  background-color: beige;
  border-color: rgba(0,0,0,.95);
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .01;
  }
  100% {
    opacity: .7;
  }
}