@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --primary: rgba(2,0,36,1);
  --blue-k: rgba(10,10,235,1);
  --blue-f: rgba(0,212,255,1);
  --white: rgba(240,248,255,1);
  --red: rgba(255,0,0,1);
  --black: rgba(0,0,0,1);
  --gray: rgba(128,128,128,1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#particles-js {
  position: absolute;
  height: 100%;
  background: var(--black);
  object-fit: cover;
  mix-blend-mode: screen;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: var(--primary);
  background: linear-gradient(90deg, var(--primary) 0%, var(--blue-k) 50%, var(--blue-f) 100%);
  color: var(--white);
  pointer-events: none;
}

.start {
  position: absolute;
  top: 43%;
  left: 37.5%;
  color: var(--white);
  pointer-events: none;
}

header span {
  color: var(--red);
  animation: fade infinite 3000ms;
}

main {
  width: 100%;
  height: 90vh;
}

header, main.normal {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.recording {
  display: flex;
  justify-content: center;
}

.record {
  display: none;
}

.writing {
  display: none;
  position: absolute;
  top: 36%;
  left: 37.5;
  height: 40%;
  width: 45%;
  background: var(--white);
  border: 2px solid var(--gray);
  border-radius: 5%;
}

.state {
  font-size: 11px;
}

.animated {
  color: var(--white);
  animation: fade infinite 3000ms;
  z-index: 100;
  margin-left: 10px;
}

#language {
  width: 70px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.45);
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.rec {
  z-index: 100;
}

.rec-off {
  display: none;
}

#start {
  transition: 500ms;
  border: none;
  outline: none;
  border: 1px solid rgba(0,0,0,.45);
  padding: 5px;
  border-radius: 5px;
}

#start:focus {
  transition: 500ms;
  border-color: rgba(0,0,0,.95);
}

.response {
  padding: 20px;
  background-color: azure;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .01;
  }
  100% {
    opacity: .8;
  }
}