<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voice Recognizer</title>
  <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
  <header>
    <h1>Voice Recognizer</h1>
  </header>

  <main class="normal">
    <div class="rec">
      <h1>putos</h1>
      <select id="language">
        <option value="0">Idioma</option>
        <option value="es-ES">Español - España</option>
        <option value="es">Español - Normal, no raro</option>
        <option value="en">English</option>
      </select>
    </div>
  </main>
</body>
<script src="../../server/controllers/recognizer.js"></script>
</html>